*{
    margin:0;
    padding:0;
}
body{
font-family: "Gabarito", system-ui;
 font-optical-sizing: auto;
font-weight: weight;
 font-style: normal;

}
.Navebar{
    display:flex;
    justify-content:space-between;
    gap:10px;
    border-bottom:solid black 1px;
    padding:5px;
    align-items: center;
}
.Navebar__s1-title{
color:#A435F0;
align-items:center;


}
.Navebar__s2{
    padding:10px;
    border:solid black 1px;
    border-radius:30px;
    width:60%;
    display:flex;
    gap:10px;
align-items: center;
   
}
.Navebar__s2 input{
    border:none;
    width:100%;
    font-size:16px;
    color:gray
}
input:focus{
    outline:none;
}
.Navebar__s3{
    display:flex;
    gap:10px;
   align-items:center;

}
.caterioris{
    padding:10px;
    display:flex;
    justify-content: space-around;
    border-bottom:solid black 1px;
}
.caterioris p{
    background-color:#A435F0;
    color:white;
    padding:10px;
    border-radius:30px;
}
.sale-image img{
    width:100%
     
}
.recommendation{
    padding:10px;
}
.course-card {
    width:300px;
    
    
}
.course-card img{
    height:170px;
    width:100%;
}
.recommendation__container{
    display: flex;
    justify-content: space-between;
    gap:10px;
    flex-wrap:wrap;
}
.topics{
    padding:10px;
}
.topics__container p{
    padding:10px;
    border:solid black 1px;
    margin:5px;
    flex-basis:25%;
    flex-grow:1;


}
.topics__container{
    display:flex;
    flex-wrap:wrap;

}
.popular{
    padding:10px;
}
.popular__container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.footer{
    padding:10px;
    background-color: black;
    color:white;
    margin:10px;
}
.footer__one{
    display:flex;
    gap:40px;
    padding:20px;
}
.footer__one p{
    margin:10px;
}
.footer__two{
    display:flex;
    justify-content: space-between;
    padding:20px;
    align-items: center;
}